@{
    Layout = "~/_LayoutPages.cshtml";
}
<div class="cabecalho">
    <div class=" container">
        <div class="panel-default">
            <h1>F.A.Q - Domésticas.com</h1>
        </div>
        <div class="navbar-left">
            <a class="link animated fadeInUp delay-02s servicelink btn btn-success" href="~/Index.cshtml"><i class="fa-arrow-circle-o-left"></i> Retornar</a>
        </div>
    </div>

    <div class="container">
        <div class="list-group" >
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q1">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q1">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q2">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q2">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q3">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q3">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q4">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q4">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q5">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q5">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q6">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q6">
                    <p>Informação do sistema</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-secundaria">
    <h1>Preços e Contratos</h1>
    <div class="container">
        <div class="list-group">
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q1">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q1">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q2">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q2">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q3">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q3">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q4">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q4">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q5">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q5">
                    <p>Informação do sistema</p>
                </div>
            </div>
            <div class="list-group-item">
                <button class="btn btn-info" data-toggle="collapse" data-target="#Q6">Qual o objetivo do sistema?</button>
                <div class="collapse" id="Q6">
                    <p>Informação do sistema</p>
                </div>
            </div>
        </div>
    </div>
</section>