@{
    Layout = "~/_LayoutPages.cshtml";
}
<div>
    <div class="jumbotron">
        <div class="container" style="text-align:center">
            <h1>Como podemos lhe ajudar?</h1>
            <div class="container">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg col-xs-8" placeholder="Buscar..." style="border-radius: 40px 30px 30px 40px;">
                    </div>

                    <button type="submit" class="btn btn-info">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>