@{
    Layout = "~/_LayoutPages.cshtml";
}
<div>
    <div class="jumbotron">
        <div class="container" style="text-align:center">
            <h1>Como podemos lhe ajudar?</h1>
        </div>
    </div>
</div>
<div class="container">
    <h2>Perguntas Frequentes</h2>
    <p><strong>Talvez os tópicos abaixo possam lhe ajudar a encontrar o que você procura.</strong></p>
    <div class="panel-group" id="accordion">
        <!--Divisão entre o collapse-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q1"><strong>Qual o objetivo da empresa?</strong></a>
                </h4>
            </div>
            <div id="q1" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--Divisão entre o collapse-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q2"><strong>Quais possibilidade posso encontrar utilizando os serviços?</strong></a>
                </h4>
            </div>
            <div id="q2" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--Divisão entre o collapse-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q3"><strong>Preciso pagar alguma taxa ou mensalidade para utilizar?</strong></a>
                </h4>
            </div>
            <div id="q3" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--Divisão entre o collapse-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q4"><strong>Quem pode utilizar os serviços?</strong></a>
                </h4>
            </div>
            <div id="q4" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <!--Divisão entre o collapse-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q5"><strong>Por que só posso informar que sou 'Diarista' ?</strong></a>
                </h4>
            </div>
            <div id="q5" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
    </div>
</div>