@{
    Layout = "~/_LayoutMain.cshtml";
}
<body>
    <div>
        <div class="page-header col-xs-10">
            <h1>Informações</h1>
        </div>
    </div>
        <div class="Panel with panel-info class col-xs-6">
            <div class="panel-heading">Contratos de Hoje</div>
            <div class="panel-body">
                <p>Aqui terá informações para o cliente</p>
            </div>
        </div>
    <div class="Panel with panel-info class col-xs-6">
        <div class="panel-heading">Contratos de Hoje</div>
        <div class="panel-body">
            <p>Aqui terá informações para o cliente</p>
        </div>
    </div>
</body>
